<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.swiggyapp.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.swiggyapp.Login</servlet-class>
  </servlet>
  >
  <servlet>
  	<servlet-name>SearchFoods</servlet-name>
  	<display-name>SearchFoods</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.swiggyapp.SearchFoods</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ratings</servlet-name>
  	<display-name>Ratings</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.swiggyapp.Ratings</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ItemLists</servlet-name>
  	<display-name>ItemLists</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.swiggyapp.ItemLists</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminsLogin</servlet-name>
  	<display-name>AdminsLogin</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.swiggyapp.AdminsLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddFood</servlet-name>
  	<display-name>AddFood</display-name>
  	<description></description>
  	<servlet-class>AddFood</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Orders</servlet-name>
  	<display-name>Orders</display-name>
  	<description></description>
  	<servlet-class>Orders</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteFood</servlet-name>
  	<display-name>deleteFood</display-name>
  	<description></description>
  	<servlet-class>deleteFood</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderItem</servlet-name>
  	<display-name>OrderItem</display-name>
  	<description></description>
  	<servlet-class>OrderItem</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertRating</servlet-name>
  	<display-name>InsertRating</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.swiggyapp.InsertRating</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchFoods</servlet-name>
  	<url-pattern>/SearchFoods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ratings</servlet-name>
  	<url-pattern>/Ratings</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ItemLists</servlet-name>
  	<url-pattern>/ItemLists</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminsLogin</servlet-name>
  	<url-pattern>/AdminsLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddFood</servlet-name>
  	<url-pattern>/AddFood</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Orders</servlet-name>
  	<url-pattern>/Orders</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteFood</servlet-name>
  	<url-pattern>/deleteFood</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderItem</servlet-name>
  	<url-pattern>/OrderItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertRating</servlet-name>
  	<url-pattern>/InsertRating</url-pattern>
  </servlet-mapping>

</web-app>
